name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v5

    - name: setup JDK
      uses: actions/setup-java@v5
      with:
        java-version: '16'
        distribution: 'temurin'
        cache: maven

    - name: build with maven
      run: mvn -B package --file pom.xml
